.MyTagPage{
  color: #A4a9ad;
  width:100%;
  justify-content: center;
  text-align: center;
}

.NoTags{
  margin: 5rem;
  font-size: 1rem;
}

@media (max-width:680px){
  .SideMenuContainer{
    display: none;
  }
  .MyTagPage{
    grid-template-columns: 100%;
  }
}