.Button{
  outline: none;
  border: none;
  height: 2rem;
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  color: #1a0015;
  border-radius: 0.2rem;
  cursor: pointer;
  width: 10rem;
}
.UniversalButton{
  background-color: #20A39e;
}
.DeleteButton{
  margin-right: 1rem;
  background-color: #EF5B5B;
}

.UpdateButton{
  margin-left: 1rem;
  background-color: #20A39e;
}

.TagButton:hover, .UpdateButton:hover{
  background-color: #11ece5;
  border-bottom: 0.1rem solid #ECBA49
}

.DeleteButton:hover{
  background-color: #f82323;
  border-bottom: 0.1rem solid #ECBA49
}

.CloseButton{
  background: none;
  outline: none;
  border: none;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  color: #EF5B5B;
  border-radius: 0.2rem;
  cursor: pointer;
  float: right;
}
.EditButton{
  width: 2.5rem;
  height: 2.5rem;
  outline: none;
  border: none;
  background: none;
  padding:2rem; 
}

@media(max-width:300px){
  .TagButton{
    width:50%;
    font-size: 0.8rem;
  }
}

@media(max-width:800px){
  .DeleteButton, .UpdateButton{
    width:40%;
  }
}